<footer class="ui vertical segment" style="background-color: #f9f9f9; padding: 2em;">
  <div class="ui container">
    <div class="ui stackable equal width grid">

      <div class="column">
        <h4 class="ui header">📞 24 小時預訂熱線</h4>
        <p>
          6689 9885 / 6077 6683<br>
          📍 多年經營花店
        </p>
      </div>

      <div class="column">
        <h4 class="ui header">🚚 送貨資訊</h4>
        <p>
          除了自取，亦提供送貨服務<br>
          收費按送貨地址計算<br>
          歡迎致電熱線查詢 🥰
        </p>
      </div>

      <div class="column">
        <h4 class="ui header">📱 聯絡我們</h4>
        <p>
          電話 / WhatsApp / Facebook message<br>
          Tel: 66899885 ☎️📞<br>
          Thank you 💓
        </p>
      </div>

      <div class="column">
        <h4 class="ui header">🌐 社交平台</h4>
        <div class="ui horizontal list">
          <a class="item" href="https://www.instagram.com/alice_florist_ig/" target="_blank">
            <i class="instagram icon"></i>
          </a>
          <a class="item" href="https://www.instagram.com/alice__florist/" target="_blank">
            <i class="instagram icon"></i>
          </a>
          <a class="item" href="https://www.instagram.com/alice_florist_landscape/" target="_blank">
            <i class="instagram icon"></i>
          </a>
          <a class="item" href="https://www.facebook.com/Alice.Florist.Hk/" target="_blank">
            <i class="facebook f icon"></i>
          </a>
        </div>
      </div>

    </div>

    <div class="ui divider"></div>
    <div class="ui center aligned">
      <p>運費按地址而定，另有回收服務提供 ♻️<br>
      <em>Delivery fee depends on address. Recycle service available.</em></p>
      <p>© 2025 Alice Florist</p>
    </div>
  </div>
</footer>
