.ui.container {
    margin-top: 50px;
  }
  
  .ui.stacked.segment {
    padding: 20px;
  }
  
  .ui.button {
    margin-top: 10px;
  }
  
  .ui.message {
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }
  