<div class="ui middle aligned center aligned grid">
  <div class="column" style="max-width: 450px;">
    <h2 class="ui teal header">
      <i class="user plus icon"></i> 註冊新帳戶
    </h2>

    <p *ngIf="message" class="ui {{ message.includes('成功') ? 'green' : 'red' }} message">{{ message }}</p>

    <form class="ui large form" (submit)="register()">
      <div class="ui stacked segment">
        <div class="field">
          <label>姓名</label>
          <input type="text" name="name" placeholder="輸入你的姓名" [(ngModel)]="user.name" required>
        </div>
        
        <div class="field">
          <label>Email</label>
          <input type="email" name="email" placeholder="輸入你的電子郵件" [(ngModel)]="user.email" required>
        </div>

        <div class="field">
          <label>電話</label>
          <input type="text" name="phone" placeholder="輸入電話號碼" [(ngModel)]="user.phone" 
          pattern="^(\+?[\d\s-]{7,15})$" title="請輸入有效的電話號碼">
                </div>

        <div class="field">
          <label>地址</label>
          <input type="text" name="address" placeholder="輸入地址" [(ngModel)]="user.address">
        </div>

        <div class="field">
          <label>密碼</label>
          <input type="password" name="password" placeholder="輸入密碼" [(ngModel)]="user.password" required>
        </div>

        <button type="submit" class="ui fluid large teal button">註冊</button>
      </div>
    </form>

    <div class="ui message">

<p>已經有帳號？ <a (click)="logIn()">登入</a></p>
</div>
</div>
</div>